<div class="box-faq">
  <div class="container">
    <h2 class="section-title text--left"> FREQUENTLY ASKED QUESTIONS </h2>
    <div class="box-faq__content">
      <div class="box-faq__item">
        <div class="box-faq__question">
          <h4> What is male pattern baldness? </h4>
        </div>
        <div class="box-faq__answer">
          <p> Hair loss is categorized in many different types however, the most common type is androgenetic alopecia or more popularly known as male pattern baldness. According to the Statistic Brain Research Institute, there are approximately 35 million men in the US alone who suffer the generally male associated condition. And about 40% of men begin to show noticeable signs of hair loss before they hit the age of 35. Male pattern baldness is caused because of the male hormone dihydrotestosterone or DHT. </p>
          <p> This shortens the growth phase of the hair and results to a process called follicle miniaturization, where the hair follicles progressively shrink and eventually disappear. The hair in the front, top and crown area are the most susceptible to the effects of DHT, and this is evident in the “pattern” that forms within these areas for men who suffer from hair loss. Hair thinning in these areas can lead to total baldness, leaving only hair on the back and sides of the scalp. </p>
          <p> If you suffer from male pattern baldness, Medihair can help. Call our clinic in Melbourne Australia to find out about our FUE and FUT hair transplant procedures. </p>
        </div>
      </div>
      <div class="box-faq__item">
        <div class="box-faq__question">
          <h4> What is FUE? </h4>
        </div>
        <div class="box-faq__answer">
          <p> Follicular Unit Extraction or FUE is the newest hair transplant technique in Australia. In this procedure, single follicular units are removed one at a time from the donor area and relocated. FUE does not involve making a linear incision and will leave tiny incisions that are invisible, even if you want to shave your scalp. With the FUE hair transplant technique, you will receive superior permanent results with minimal pain and visually zero scars. </p>
        </div>
      </div>
      <div class="box-faq__item">
        <div class="box-faq__question">
          <h4> Am I suitable for FUE Hair Transplant? </h4>
        </div>
        <div class="box-faq__answer">
          <p> To determine your suitability for FUE, you will need to book a consultation with Medihair, where we will ask you questions about your family history, health, and perform a hair and scalp examination to determine your hair status and if a FUE hair transplant is appropriate and will meet your expectations. </p>
        </div>
      </div>
      <div class="box-faq__item">
        <div class="box-faq__question">
          <h4> What is the difference between FUE and FUT? </h4>
        </div>
        <div class="box-faq__answer">
          <p> The main difference between FUT and FUE is the manner in which the follicular units are harvested, the appearance of the donor area and the quantity of grafts that can be extracted from each of the techniques. </p>
          <p> The preparation, creation and placement of the grafts in the recipient site are essentially the same. The surgeon carefully extracts individual hair grafts from the identified donor sites. FUE uses an instrument to make small, circular incisions in the skin around a follicular unit to separate it from the surrounding tissue, approximately 1-mm in size. This is repeated until the right number of hair grafts are collected for the planned hair restoration in the recipient or bald area. </p>
          <p> The harvested hair follicles are then segregated according to graft counts and preserved by placing in a solution. After harvesting the required hair grafts piece by piece, the surgeon will then prepare the recipient site by making small incisions using a fine needle instrument. </p>
          <p> The grafts are then strategically transplanted into the recipient site taking into consideration the natural density, growth pattern and angle of the existing hair. </p>
          <p> And because FUE uses precision clear instruments, the hair follicles maintain a uniformed hair shaft diameter and results to a smooth transition of new and old hair. Because of the meticulous process involved in the procedure, FUE takes a longer time to finish. </p>
        </div>
      </div>
      <div class="box-faq__item">
        <div class="box-faq__question">
          <h4> How much does FUE cost? </h4>
        </div>
        <div class="box-faq__answer">
          <p> FUE costs will vary depending on the degree of hair loss and the thickness you want to achieve. Fees may range from $8,000 - $20,000. Speak to Medihair about our Payment Plans. </p>
        </div>
      </div>
    </div>
  </div>
</div>
