<div class="grid-image grid-image--4col">
  <h2 class="section-title text--center"> Real Results </h2>
  <p> At our Medihair clinic in Melbourne, we have performed hundreds of successful FUE and FUT hair transplant procedures and guarantee high-quality, natural results that last a lifetime. </p>
  <div class="grid-image__inner">
    <div class="grid-image__wrap">
      <div class="grid-image__item">
        <div class="grid-image__content">
          <a href="#">
            <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-5.jpg">
            </img>
            <div class="grid-image--4col__content text--white">
              <span class="grid-image__subtitle"> Actual Patient </span>
              <h3 class="grid-image__title"> Daniel </h3>
            </div>
          </a>
          <div class="grid-image__link text--white ">
            <a class="btn btn--bg-white" href="#">View results</a>
          </div>
        </div>
      </div>
      <div class="grid-image__item">
        <div class="grid-image__content">
          <a href="#">
            <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-6.jpg">
            </img>
            <div class="grid-image--4col__content text--white">
              <span class="grid-image__subtitle"> Actual Patient </span>
              <h3 class="grid-image__title"> Luke </h3>
            </div>
          </a>
          <div class="grid-image__link text--white ">
            <a class="btn btn--bg-white" href="#"> View results </a>
          </div>
        </div>
      </div>
      <div class="grid-image__item">
        <div class="grid-image__content">
          <a href="#">
            <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-7.jpg">
            </img>
            <div class="grid-image--4col__content text--white">
              <span class="grid-image__subtitle"> Actual Patient </span>
              <h3 class="grid-image__title"> rowan </h3>
            </div>
          </a>
          <div class="grid-image__link text--white ">
            <a class="btn btn--bg-white" href="#"> View results </a>
          </div>
        </div>
      </div>
      <div class="grid-image__item">
        <div class="grid-image__content">
          <a href="#">
            <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-8.jpg">
            </img>
            <div class="grid-image--4col__content text--white">
              <span class="grid-image__subtitle"> Actual Patient </span>
              <h3 class="grid-image__title"> Geoff </h3>
            </div>
          </a>
          <div class="grid-image__link text--white ">
            <a class="btn btn--bg-white" href="#"> View results </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>