<div class="grid-image grid-image--2col how-it-works">
  <div class="container">
    <h2 class="section-title text--center"> FUE – How it works </h2>
    <div class="grid-image__inner">
      <div class="grid-image__wrap">
        <div class="grid-image__item">
          <div class="grid-image__content grid-image__content--2col">
            <a href="#">
              <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-1.jpg">
            </a>
            <div class="grid-image__link">
              <div class="grid-image--2col">
                <i class="icon-hair"></i>
                <h3><span class="text--silver">Step 1</span></br>Design</h3>
                <p>We will determine your degree of loss, your family history and expectation and design a transplant plan to meet your expectations.</p>
              </div>
              <a href="#" class="btn btn--bg-white">FIND OUT MORE</a>
            </div>
          </div>
        </div>
        <div class="grid-image__item">
          <div class="grid-image__content grid-image__content--2col">
            <a href="#">
              <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-2.jpg">
            </a>
            <div class="grid-image__link">
              <div class="grid-image--2col">
                <i class="icon-hair"></i>
                <h3><span class="text--silver">Step 2</span></br>Extraction</h3>
                <p>Your surgeon will extract single follicles from the donor one follicle at a time – no linear scars!</p>
              </div>
              <a href="#" class="btn btn--bg-white">FIND OUT MORE</a>
            </div>
          </div>
        </div>
        <div class="grid-image__item">
          <div class="grid-image__content grid-image__content--2col">
            <a href="#">
              <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-3.jpg">
            </a>
            <div class="grid-image__link">
              <div class="grid-image--2col">
                <i class="icon-hair"></i>
                <h3><span class="text--silver">Step 3</span></br>Implant</h3>
                <p>The Surgeon will create recipient sites where your hair is needed so our Dr and surgical team can carefully implant your follicles at a natural looking angle and design to improve your appearance.</p>
              </div>  
              <a href="#" class="btn btn--bg-white">FIND OUT MORE</a>
            </div>
          </div>
        </div>
        <div class="grid-image__item">
          <div class="grid-image__content grid-image__content--2col">
            <a href="#">
              <img alt="" class="attachment-product_list size-product_list" src="/images/grid-image-4.jpg">
            </a>
            <div class="grid-image__link">
              <div class="grid-image--2col">
                <i class="icon-hair"></i>
                <h3><span class="text--silver">Step 4</span></br>Aftercare</h3>
                <p>Your aftercare process is quick and easy. We will teach you how to look after your new hair which is permanent and requires no products or maintenance.</p>
              </div>
              <a href="#" class="btn btn--bg-white">FIND OUT MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
