<div class="list-member">
    <div class="container">
        <div class="list-member__wrap">
            <div class="list-member__item">
                <div class="list-member__image">
                    <img src="/images/our-team-1.jpg">
                    <h4 class="mobile-only">DR MARIO MARZOLA MBBS, FFMACS, </br>DIPLOMATE ABHRS</h4>
                </div>
                <div class="list-member__content">
                    <h2 class="desktop-only">DR MARIO MARZOLA MBBS, FFMACS, </br>DIPLOMATE ABHRS</h2>
                    <div class="list-member__content--show">
                        <p>A renowned and skilled hair transplant surgeon with over 30 years’ experience, Dr. Mario Marzola has a kind and caring nature and takes the time to understand each patient personally. In 2018 “Dr Mazola was awarded the’ Manfred Lucas’, award in Hollywood by the International society of hair restoration surgeons for his talent.  This award is the highest most prestigious honour and not given every year. The recipient possesses both rare and special talents in the hair transplant industry. “</p>
                        <p>Our Dr also pioneered the Trichophytic Closure - a hair transplant technique that is now used globally and in 2006 was awarded the prestigious Golden Follicle Award for his contribution to the hair restoration industry. </p>
                        <p>
                            <p>An active member of the Australasian College of Cosmetic Surgery (AACS) and on the Board of Governors for International Society of Hair Restoration Surgery (ISHRS), Dr. Marzola regularly attends and presents at conferences around the world and is an international trainer and lecturer in hair transplantation. </p>
                    </div>
                    <a class="read-more js-show-more" href="#">Read More...</a>
                    <div class="list-member__content--hide">
                    </div>
                </div>
            </div>

            <div class="list-member__item">
                <div class="list-member__image">
                    <img src="/images/our-team-2.jpg">
                    <h4 class="mobile-only">DR ANDREW KIM MBBS</h4>
                </div>
                <div class="list-member__content">
                    <h2 class="desktop-only">DR ANDREW KIM MBBS</h2>
                    <div class="list-member__content--show">
                        <p>A talented and friendly hair surgeon with 14 years’ experience, Dr. Andrew Kim has personally experienced the challenges of hair loss and undergone hair transplant procedures himself. Thanks to a background in double eyelid surgery, Dr. Kim is able to harvest and place hair grafts with flawless precision, resulting in less visible scarring. He is able to perform large procedures in one session to achieve major transformations.</p>
                        <p>A member of the International Society of Hair Restoration Surgery (ISHRS) and the Australasian College of Cosmetic Surgery (AACS), Dr. Kim regularly attends international conferences and workshops to continue developing his knowledge and skills. </p>
                        <p>
                            <p>Dr. Kim was a Visiting Professor (Honorary Appointment) at Kyungpook National University Hospital at the Hair Transplant Centre between 2008-2010, and his post-graduate achievements include a Ph. D in Medicine from Chung-Ang University, Seoul, South Korea.</p>
                    </div>
                    <a class="read-more js-show-more" href="#">Read More...</a>
                    <div class="list-member__content--hide">
                    </div>
                </div>
            </div>

            <div class="list-member__item">
                <div class="list-member__image">
                    <img src="/images/our-team-3.jpg">
                    <h4 class="mobile-only">DR DAVID WELSH MB BS, FRACGP</h4>
                </div>
                <div class="list-member__content">
                    <h2 class="desktop-only">DR DAVID WELSH MB BS, FRACGP</h2>
                    <div class="list-member__content--show">
                        <p>A General Physician (GP) with a focus on men’s health, Dr. David Welsh has worked with hair loss patients since 1997 and brings a thorough understanding of hair loss medications and therapies. He has performed a large number of platelet rich plasma (PRP) treatments for both men and women, and regularly attends conferences and workshops. </p>
                        <p>David graduated with a Medical Degree from the University of Melbourne and teaches students at both Monash and Melbourne Universities. He is also a Visiting Medical Officer at Elsternwick Private Hospital.</p>
                    </div>
                    
                </div>
            </div>

            <div class="list-member__item">
                <div class="list-member__image">
                    <img src="/images/our-team-4.jpg">
                    <h4 class="mobile-only">Helen Marzola RN – Lead Technical trainer</h4>
                </div>
                <div class="list-member__content">
                    <h2 class="desktop-only">Helen Marzola RN – Lead Technical trainer</h2>
                    <div class="list-member__content--show">
                        <p>Helen Marzola is a registered nurse with over 25 years’ experience, assisting at the highest level of surgical care in the hair transplantation industry. Helen leads our technical teams at Medihair.</p>
                        <p>Helen is a passionate international leader in the field of teaching and helping medical hair technicians develop their skills in graft dissection, graft placement, hair design and orientation with a dedication to the highest level of patient care that is world class.</p>
                        <p>
                            <p>Helen is well respected trainer for the ‘International society for hair restorations surgeons’ assistant’s program and has maintained this role for many years. </p>
                            <p>Specialties include:</p>
                            <ul>
                                <li>Training technicians in hair design and the application of cosmetic models </li>
                                <li>Training technicians in graft survival techniques for gold standard yield  </li>
                            </ul>
                    </div>
                    <a class="read-more js-show-more" href="#">Read More...</a>
                    <div class="list-member__content--hide">
                    </div>
                </div>
            </div>

            <div class="list-member__item">
                <div class="list-member__image">
                    <img src="/images/our-team-5.jpg">
                    <h4 class="mobile-only">BIANCA SHAW </br>SURGICAL STYLIST AND TRICHOLOGIST</h4>
                </div>
                <div class="list-member__content">
                    <h2 class="desktop-only">BIANCA SHAW </br>SURGICAL STYLIST AND TRICHOLOGIST</h2>
                    <div class="list-member__content--show">
                        <p>A well-respected surgical stylist, Bianca Shaw has worked in the hair loss industry for 28 years, educating and supporting patients, and working alongside many of Australia’s leading surgeons. Qualified in Trichology and Hairdressing, Bianca was initially trained by a leading hair transplant surgeon and can perform a range of procedures including hair line design, placement of grafts for maximum density, and the dissection and implantation of hair follicles.</p>
                        <p>Having worked for leading hair loss companies, and managing a number of successful hair transplant practices, Bianca is committed to helping patients understand the treatment options available, ensuring they make the best decision and get the best results to improve their appearance and quality of life. </p>
                        <p>
                            <p>Specialties include:</p>
                            <ul>
                                <li>Patient assessment based on patient’s hair characteristics and an in-depth understanding of all options</li>
                            </ul>
                    </div>
                    <a class="read-more js-show-more" href="#">Read More...</a>
                    <div class="list-member__content--hide">
                    </div>
                </div>
            </div>

            <div class="list-member__item">
                <div class="list-member__image">
                    <img src="/images/our-team-6.jpg">
                    <h4 class="mobile-only">KATHY TRUONG </br>MASTER SCALP PIGMENTATION PRACTITIONER</h4>
                </div>
                <div class="list-member__content">
                    <h2 class="desktop-only">KATHY TRUONG </br>MASTER SCALP PIGMENTATION PRACTITIONER</h2>
                    <div class="list-member__content--show">
                        <p>A dynamic and enthusiastic practitioner, Kathy Truong is a certified Dermal Therapist with more than 20 years’ experience in cosmetic pigmentation, rebuilding hairlines and correcting hair transplant scars for men and women. Internationally accredited, Kathy works closely with our surgeons to dramatically increase the appearance of hair density and hide unsightly scars. She genuinely loves her work and enjoys seeing the transformations that take place.</p>
                        <p>
                            <p>Specialties include:</p>
                             <ul>
                                <li> Creating the appearance of a full head of shaven hair for bald men</li>
                                <li> Linear scars correction from previous FUT hair surgery </li>
                                <li> General thickening of thinning hair for men and women</li>
                                <li> Beard simulation including patches or overall thickness</li>
                            </ul>
                    </div>
                    <a class="read-more js-show-more" href="#">Read More...</a>
                    <div class="list-member__content--hide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>