<div class="box-results">
    <div class="container">
        <div class="box-results__wrap">
            <div class="box-results__items">
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-1-before.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            Before
                        </h5>
                    </div>
                </div>
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-1-after.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            After
                        </h5>
                    </div>
                </div>
            </div>
            <div class="box-results__items">
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-2-before.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            Before
                        </h5>
                    </div>
                </div>
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-2-after.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            After
                        </h5>
                    </div>
                </div>
            </div>
            <div class="box-results__items">
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-3-before.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            Before
                        </h5>
                    </div>
                </div>
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-3-after.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            After
                        </h5>
                    </div>
                </div>
            </div>
            <div class="box-results__items">
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-4-before.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            Before
                        </h5>
                    </div>
                </div>
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-4-after.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            After
                        </h5>
                    </div>
                </div>
            </div>
            <div class="box-results__items">
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-5-before.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            Before
                        </h5>
                    </div>
                </div>
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-5-after.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            After
                        </h5>
                    </div>
                </div>
            </div>
            <div class="box-results__items">
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-6-before.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            Before
                        </h5>
                    </div>
                </div>
                <div class="box-results__item">
                    <div class="box-results__image">
                        <img src="/images/results-6-after.jpg">
                        </img>
                    </div>
                    <div class="box-results__content">
                        <h5 class="text--center">
                            After
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>