.costs,.why-medihair {
  .box-link {
    @media only screen and (max-width: $mobileOnly) {
      margin-top: 35px;
     }
  } 
}

.main-menu {
  .book-link {
    @media only screen and (max-width: 1179px) and (min-width: $tablet) {
      a {
        min-width: 350px;
      }
    }

    @media only screen and (max-width: $mobilePortrait) {
      a {
        padding: 12px 0px !important;
      }
    }
  }
}


@media only screen and (max-width: $mobilePortrait) {
  main br.mobile-only {
    display: none !important;
  }

  .box-image-text__image h2 {
    font-size: 22px;
  }

  .section-title h2 {
    font-size: 26px;
  }
}


@media only screen and (max-width: $desktopWide) and (min-width: $tablet) {
  .box-image-text {
    &__link {
      text-align: center;

      .btn {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.entry-content-page h3,
.search__wrap h1{
  line-height: 1.3;
}

@media only screen and (max-width: 374px) {
  .banner br {
    display: none !important;
  }
}

.page-id-387 .box-image-text {
  &__image {
    @media only screen and (max-width: 1179px) {
      background-position: left;
    }

     @media only screen and (max-width: $mobileOnly) {
      background-position: center;
    }
  }
}

.page-id-387 main .box-text__content .h1 br.mobile-only {
  @media only screen and (max-width: $mobilePortrait) {
    display: block !important;
  }
}

.home {
   @media only screen and (max-width: 910px) and (min-width: $mobileOnly){
    .grid-image {
      &--2col {
        a.btn {
          display: none;
        }
      }
    }
   }
}

footer {
   @media only screen and (max-width: $mobileOnly) {
    padding-bottom: 50px;
   }
}

.page-id-447,
.page-id-2,
.page-id-42 {
  footer {
     @media only screen and (max-width: $mobileOnly) {
      padding-bottom: 0;
     }
  }
}
