.footer {
  &__top {
    padding: 50px 39px 45px;
    margin: 0;

    @media only screen and (max-width: $tabletOnly) and (min-width: $tablet){
      padding-right: 0;
      padding-left: 0;
    }

    @media only screen and (max-width: $mobileOnly) {
      padding: 35px 0 10px;
    }
  }
  
  &__bottom {
    &--copyright {
      text-align: center;
      font-size: 12px;
      margin-bottom: 0;
      padding: 15px 0;

      @media only screen and (max-width: $mobilePortraitOnly) {
        font-weight: 700;
        padding: 25px 0;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $tabletOnly) and (min-width: $tablet) {
      flex-wrap: wrap;
    }
 
    &--menu {
      .menu-footer {

        @media only screen and (max-width: $mobileOnly) {
          display: flex;
          justify-content: space-between;
        }

        &__item {
          @media only screen and (min-width: $tablet) {
            width: 38%;
          }

          @media only screen and (max-width: $mobileOnly) {
           width: 42%;
           padding: 0;
          }

          &.first {

            @media only screen and (min-width: $tablet) {
              width: 62%;
            }

            @media only screen and (max-width: $mobileOnly) {
              width: 60%;
            }

            li {
              margin-bottom: 12px;

              @media only screen and (max-width: $tabletOnly) and (min-width: $tablet) {
                margin-bottom: 16px;
              }
              
              @media only screen and (max-width: $mobileOnly) {
                margin-bottom: 16px;
              }

              a {
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.3px;
                font-size: 16px;

                @media only screen and (max-width: $tabletOnly) and (min-width: $tablet) {
                  font-size: 14px;
                }

                @media only screen and (max-width: $mobileOnly) {
                  font-size: 14px;
                  text-transform: none;
                  font-weight: 400;
                  letter-spacing: 0.5px;
                }
              }
            }
          }

          ul{
            padding: 0;

            li {
              margin-bottom: 16px;
            }
          } 
        }
      }
    }

    &--form {
      form {

        label{
          margin-bottom: 0;
        }

        & input[type=text],& input[type=email] {
          background-color: #fff;
          border-color: #fff;
        }

        .wpcf7-submit {
          margin-top: 8px;
          padding: 12px 35px;
          width: auto;

          @media only screen and (max-width: $mobileOnly) {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }

      input[type="email"], input[type="text"] {
        padding: 10px 15px;
        background-color: $white;
        color: #231f20;

        &::-webkit-input-placeholder {
          color: #231f20;
        }

        &::-moz-placeholder {
          color: #231f20;
        }

        &:-ms-input-placeholder {
          color: #231f20;
        }

        &:-moz-placeholder {
          color: #231f20;
        }
      }
    }

    &--address {
      li {
        margin-bottom: 18px;
      }
    }

    h4 {
      line-height: 24px;
      margin-bottom: 15px;
    }

    @media only screen and (min-width: $tablet) {
      &--menu {
        width: 46%;
        padding: 0;

        .menu-footer {
          display: flex;
          align-items: start;

          ul {
            display: block;
            margin-left: 0;
          }
        }
      }

      &--form {
        margin-bottom: 0;
        width: 22%;
        padding: 0 0 0 8px;
      }

      &--address {
        width: 28%;
        padding: 0;
        text-align: right;
      }
    }


    @media only screen and (max-width: $mobileOnly) {
      flex-direction: column;

      &--address {
        order: 1;

        h4 {
          text-align: right;
          margin: 0 0 -25px 0;
          font-size: 21px;
        }

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-between;

          .book-link {
            display: none;
          }

          .email {
            order: 2;
            align-self: flex-end;
          }

          .address {
            order: 1;
          }
        }
      }

      &--form {
        order: 2;
        padding-top: 10px;
      }

      &--menu {
        order: 3;
      }
    }
  }
}
