// Navigation.
.main-menu {
    @media only screen and (min-width: 1180px) {
        align-items: center;
        display: flex;
    }
    li {
        a {
            font-size: 13px;
            letter-spacing: 1.3px;
            text-transform: uppercase;
        }
    }
    .menu-item-has-children {
        margin-right: 10px;
    }
    .sub-menu {
        display: none;
    }
    &--has-child {
        >li {
            @media only screen and (min-width: 1180px) {
                align-items: center;
                display: flex;
                height: 100%;
                margin: 0 13px;
                position: relative;
                >a {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    padding: 15px 0!important;
                    position: relative;
                    &:before {
                        background: $white;
                        bottom: 0;
                        content: "";
                        height: 1px;
                        position: absolute;
                        transform: scale(0);
                        transition: .5s;
                        width: 100%;
                    }
                }
                &:hover, &.current_page_item, &.current-menu-item, &.current-menu-parent {
                    >a {
                        &:before {
                            transform: scale(1);
                        }
                    }
                }
                &:nth-last-child(2) {
                    border-bottom: none;
                }
            }
            &.book-link {
                margin-right: 0;
                a {
                    @extend .btn;
                    @extend .btn--bg-white;
                    font-weight: 600;
                    letter-spacing: 0.3px;
                    padding: 12px 16px !important;
                    width: auto;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    li {
        a {
            text-decoration: none;
            @media only screen and (max-width: 1179px) {
                display: block;
                padding: 15px 0;
                text-align: left;
            }
        }
        &.menu-expend {
            position: relative;
            @media only screen and (min-width: 1180px) {
                padding-right: 32px;
            }
            &.is-active {
                >a>span:after {
                    transform: rotate(180deg);
                }
            }
            >a {
                @media only screen and (max-width: 1179px) {
                    display: block;
                }
                >span {
                    position: relative;
                    &:after {
                        @include med;
                        color: #fff;
                        content: "\e902";
                        font-size: 13px;
                        position: absolute;
                        right: -21px;
                        top: 0;
                        transition: .3s;
                        @media only screen and (max-width: 1179px) {
                            top: -3px;
                        }
                    }
                }
            }
            .sub-menu {
                li {
                    @media only screen and (min-width: 1180px) {
                        margin: 0 0 18px;
                    }
                    @media only screen and (max-width: 1179px) {
                        margin-bottom: 0;
                        a {
                            padding: 5px 0;
                        }
                    }
                    a {
                        white-space: nowrap;
                        width: 100%;
                    }
                    &:last-child {
                        margin-bottom: 12px;
                    }
                }
            }
        }
        .sub-menu {
            @media only screen and (min-width: 1180px) {
                background: $blue;
                left: -27px;
                padding: 2px 15px;
                position: absolute;
                text-align: left;
                top: 100%;
                z-index: 99;
            }
        }
        @media only screen and (min-width: 1180px) {
            &:hover {
                cursor: pointer;
                .sub-menu {
                    display: block;
                }
            }
        }
    }
}