.banner {
  position: relative;
  height: 226px;
  z-index: 2;

  @media only screen and (min-width: $tablet) {
    height: 375px;
  }

  @media only screen and (min-width: $desktop) {
    height: 400px;
  }

  &.is-active {
    opacity: 0;
    visibility: hidden;
  }

  &__inner {
    height: 100%;
  }

  &__images {
    height: 100%;
    width: 100vw;
    position: relative;
    position: fixed;
    left: 0;
    top: 78px;
    right: 0;
    height: 226px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media only screen and (min-width: $tablet) {
      height: 375px;
    }

    @media only screen and (min-width: $desktop) {
      height: 400px;
    }

    @media only screen and (min-width: 1180px) {
      top: 90px;
    }

    img {
      height: 100%;
      opacity: 0;
      width: auto;
      position: absolute;
      max-width: initial;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media only screen and (min-width: 530px) {
        height: auto;
        width: 100%;
      }

      @media only screen and (min-width: $tablet) {
        height: 100%;
        width: auto;
      }

      @media only screen and (min-width: 1360px) {
        height: auto;
        width: 100%;
      }
    }
  }

  &__bg {
    background: url(../images/bg-banner.png) repeat-x scroll left 0 bottom 0 transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
  }

  &__item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__content {
    position: absolute;
    bottom: -5px;
    width: 100%;
    transform: translateY(-50%);
    text-align: left;
    padding: 0 30px;
    color: $white;
    text-transform: uppercase;

    span{
      font-size: 13px;
      letter-spacing: -0.3px;
    }

    h3{
      margin-bottom: 0;
      line-height: 20px; 
    }
    
  }
  &__subcontent{
    position: absolute;
    top: 45%;
    width: 100%;
    transform: translateY(-45%);
    text-align: right;
    padding: 0 110px;
    color: $white;
    text-transform: uppercase;

    @media only screen and (max-width: $mobileOnly) {
      top: 78%;
      padding: 0 20px;
      text-align: center;
    }

    .banner__title{
      font-size: 36px;
      line-height: 38px;
      margin-bottom: 32px;
      text-shadow: 0 0 60px #000;
          
      @media only screen and (max-width: $mobileOnly) {
        font-size: 21px;
        line-height: 23px;
        margin-bottom: 20px;
      }
    }
    
    .btn {
      @extend .btn--bg-white;
      padding: 12px 35px;
      width: auto;
    }
  }

  &__link {
    display: none;
    margin-top: 30px;
  }

  &--width-slider {
    height: calc(100vh - 78px);

    @media only screen and (min-width: 1180px) {
      height: calc(100vh - 90px);
    }

    @media only screen and (max-width: $mobileOnly) {
      height: calc(65vh - 78px);
    }
    
    .banner__title {
      // @extend %bg-shadown;
    }

    .banner__link {
      display: block;
    }

    .banner__images {
      height: 105vh;
      background-size: cover;
      top: 0;
      background-position: top center;

      @media only screen and (min-width: $desktop) {
        background-attachment: fixed;
      }

      @media only screen and (max-width: $mobileOnly) {
        height: 65vh;
      }

      img {
        height: 100%;
        width: auto;
        max-width: initial;


        @media only screen and (min-width: 1440px) {
          height: auto;
          width: 100%;
        }
      }
    }

    .scroll-element {
      display: block;
    }
  }
}

// scroll js element
.scroll-element {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;

  @media only screen and (min-width: $tablet) {
    display: block;
  }

  .icon-arrow-bottom {
    cursor: pointer;

    &:before {
      font-size: 37px;
      color: $white;

      @media only screen and (min-width: $tablet) {
        font-size: 37px;
      }
    }
  }
}

.break-mobile {
  @media only screen and (min-width: $tablet) {
    display: none;
  }
}
