.box-results {
  padding: 42px 0 0;

  @media only screen and (max-width: $mobileOnly) {
    padding: 25px 0 0;
  }

  .section-title {
    margin-bottom: 58px;

    @media only screen and (max-width: $mobileOnly) {
      margin-bottom: 22px;
    }

    h1 {
      margin-bottom: 6px;

      @media only screen and (max-width: $mobileOnly) {
        font-size: 28px;
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: $mobileOnly) {
      width: calc(100% + 40px);
      margin-left: -20px;
    }
  }

  &__items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @media only screen and (min-width: $tablet) {
      &:nth-child(1),&:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(odd) {
        padding-right: 15px;
      }

      &:nth-child(even) {
        padding-left: 15px;
      }
    }

    @media only screen and (max-width: $mobileOnly) {
      width: 100%;
      margin-top: 15px;
    }
  }

  &__item{
    &:nth-child(odd) {
      padding-right: 5px;
    }

    &:nth-child(even) {
      padding-left: 5px;
    }

    @media only screen and (max-width: $mobileOnly) {
      width: 50%;
      
      &:nth-child(odd) {
        padding-right: 3px;
      }

      &:nth-child(even) {
        padding-left: 3px;
      }
      img{
        width: 100%;
      }
    }
  }
  
  &__content{
    h5{
      letter-spacing: 0.5px;
    }
  }
}
