.box-form {
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__form,
  &__content {
    width: 50%;

    @media only screen and (max-width: $mobileOnly) {
      width: 100%;
    }
  }

  &__content {
    @media only screen and (min-width: $tablet) {
      border-right: 2px solid #f1f1f4;
      padding-right: 85px;
    }

    @media only screen and (min-width: $tablet) and (max-width: $tabletOnly) {
      padding-right: 20px;
    }
  }

  &__form {
    @media only screen and (min-width: $tablet) {
      padding-left: 95px;
    }

    @media only screen and (min-width: $tablet) and (max-width: $tabletOnly) {
      padding-left: 20px;
    }

    form {
      margin-top: 15px;

      .form-type-textarea {
        line-height: 0;
      }

      .form-actions {
        margin-top: 30px;
        margin-bottom: 0;
      }
    }
  }

  &__item {
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.box-map {
  margin-top: 60px;

  iframe {
    filter: grayscale(100%);
  }
}
