.box-text {
  padding: 55px 0;

  &__link {
    margin-top: 38px;
  }

  ul {
    &:last-child {
      margin-bottom: 0;
    }

    li {
      list-style-type: disc;
      margin-bottom: 17px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
