.box-faq {
  padding: 55px 0;

  &__item {
    @media only screen and (max-width: $mobileOnly) {
      border-bottom: solid 1px #ccc;
      padding: 12px 0 10px;
      position: relative;

      &:before {
        content: "\e902";
        font-family: 'med';
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
        position: absolute;
        top: 16px;
        cursor: pointer;
        right: 4px;
      }

      &.expanded{
        &:before{
          transform: rotate(-180deg);
        }
      }
    }
  }
  
  &__answer {
    @media only screen and (max-width: $mobileOnly) {
      display: none;
    }
  }

  &__link {
    margin: 35px 0 0;

    .btn:last-child {
      @media only screen and (min-width: $tablet) {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
      }  
    }

    .btn:first-child {
      @media only screen and (min-width: $tablet) {
        margin-right: 25px;
      }
    }
  }
}
