.box-faq {
  padding: 55px 0;

  .section-title {
    h2 {
      @media only screen and (max-width: $mobileOnly) {
        margin-bottom: 15px;
      }
    }
  }

  @media only screen and (max-width: $mobileOnly) {
    padding: 35px 0;
  }

  &__item {
    @media only screen and (max-width: $mobileOnly) {
      border-bottom: solid 1px #ccc;
      padding: 12px 0;
      position: relative;

      &:before {
        content: "\e902";
        font-family: 'med';
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
        position: absolute;
        top: 16px;
        cursor: pointer;
        right: 4px;
      }

      &.expanded{
        &:before{
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__question {
    @media only screen and (max-width: $mobileOnly) {
      h4 {
        margin-bottom: 0;
        padding-right: 25px;
      }
    }
  }
  
  &__answer {
    @media only screen and (max-width: $mobileOnly) {
      display: none;
      padding-top: 5px;
    }
  }

  &__link {
    margin: 35px 0 0;

    @media only screen and (max-width: $mobileOnly) {
      margin-top: 40px;

      .btn:last-child {
        margin-bottom: 0;
      }
    }

    .btn:last-child {
      @media only screen and (min-width: $tablet) {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
      }  
    }

    .btn:first-child {
      @media only screen and (min-width: $tablet) {
        margin-right: 25px;
      }
    }
  }
}
