.grid-image {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 10px 0 35px;

  @media only screen and (max-width: $mobileOnly) {
    padding-bottom: 0;
  }

  .section-title {
    margin: 45px 0;
    color: $blue;

    @media only screen and (max-width: $mobileOnly) {
      margin: 22px 0;
      padding: 0 20px;
      text-align: left;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  &__item {
    margin: 0;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 26px;

    &.grid-image__item--no-image {
      .grid-image__content {
        background-color: $blue;
        height: 100%;

        &:hover {
          cursor: default;
        }
      }

      .grid-image__link {
        @extend .text--white;
        position: relative;
        opacity: 1;
        visibility: visible;
        top: 0;
        transform: translateY(0);
        padding-top: 60px;
        padding-bottom: 45px;
      }
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 0;
    margin-left: 0;
    padding: 0 40px;
    line-height: 1.7143;
    display: inline-block;
    text-align: left;
    z-index: 4;
    opacity: 0;
    visibility: hidden;

    a {
      margin-top: 20px;

      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 12px;
        padding: 10px 0;
      }

      @media only screen and (min-width: 1280px) {
        margin-top: 37px;
      }

      
    }

    h3 {
      line-height: 1.095;

      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 18px;
        margin-bottom: 10px;
      }

      @media only screen and (max-width: 374px) {
        br {
          display: block !important;
        }
      }
    }
  }

  &__content {
    position: relative;

    &:hover {
      cursor: pointer;

      >a:before {
        transition: .5s;
        opacity: 1;
      }

      .grid-image__link {
        @extend .text--white;
        opacity: 1;
        visibility: visible;
      }

      a {
        text-decoration: none;
      }
    }

    >a {
      line-height: 0;
      display: block;
      position: relative;
      overflow: hidden;

      &.no-link {
        pointer-events: none;
        cursor: default;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($blue, .9);
        z-index: 3;
        transition: .5s;
        opacity: 0;
      }

      .grid-image__content--image {
        img {
          width: 100%;
        }
      }
    }
  }

  &--4col {
    @extend .text--white;
    padding-bottom: 0;

    .section-title {
      @media only screen and (max-width: $mobileOnly) {
        margin-top: 16px;
      }
    }

    .grid-image__wrap {
      margin: 0;
    }

    .grid-image__item {
      width: 25%;
      padding: 0;
      margin: 0;

      @media only screen and (max-width: $mobileOnly) {
        width: 50%;
      }
    }

    .grid-image__content {
      a {
        text-decoration: none;
      }
    }

    .grid-image__link {
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;

      a{
        margin-top: 0;

        @media only screen and (max-width: $mobileOnly) {
          min-width: 130px;
          margin-bottom: 0;
        }
      }
    }

    &__content {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: left;
      padding: 0 23px;
      color: #fff;
      text-transform: uppercase;

      &:before {
        position: absolute;
        width: 100%;
        content: "";
        height: 100%;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgb(0, 15, 34) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgb(0, 15, 34) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgb(0, 15, 34) 100%);
        opacity: 0.3;
      }

      @media only screen and (max-width: $mobilePortraitOnly) {
        padding: 0 10px;
      }

      span,p {
        font-size: 13px;
        letter-spacing: -0.3px;
        line-height: 24px;
        margin-bottom: 0;

        @media only screen and (max-width: $mobilePortraitOnly) {
          line-height: 15px;
        }
      }

      h3 {
        margin-bottom: 21px;
        line-height: 20px;

        @media only screen and (max-width: $mobilePortraitOnly) {
          font-size: 13px;
          margin-bottom: 5px;
          line-height: 18px;
        }
      }
    }
  }

  &--2col{
    .grid-image__item {
      &:nth-child(odd){
        padding-left: 0;
      }

      &:nth-child(even) {
        padding-right: 0;
      }

      .btn-procedures {
        @media only screen and (max-width: $mobileOnly) {
          margin-top: 15px;
          margin-bottom: 10px;
        }
      }
    }

    .grid-image__body {
      @media only screen and (max-width: 1279px) {
        img {
          display: none;
        }
      }

      @media only screen and (max-width: 890px) {
        p {
          // line-height: 1.3;
          margin-bottom: 0;
        }
      }

      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 13px;
      }
    }

    @media only screen and (max-width: $mobileOnly) {
      .container {
        margin: 0;
      }

      .grid-image__wrap {
        margin: 0;
      }

      .grid-image__item {
        width: 100%;
        padding: 0;
        margin-bottom: 34px;

        .btn {
          display: none;
        }

        &:last-child{
          .btn{
            display: block;
          }
        }
      }

      .grid-image__content {
        &:hover {
          cursor: pointer;

          >a:before {
            transition: .5s;
            opacity: 0;
          }
        }

        .grid-image__link {
          color: $blue;
          position: relative;
          opacity: 1;
          visibility: visible;
          top: 0;
          transform: translateY(0);
          padding: 0 20px;
          width: 100%;

          .grid-image__body {
            padding-top: 20px;

            p:last-child {
              margin-bottom: 0;
            }

            .text--silver {
              color: $blue;
            }
          }

          .btn--bg-white{
            color: $blue !important;
            border-color: $blue !important;
            margin-top: 16px;
            margin-bottom: 10px;
          }
        }
      }

      .grid-image__item--no-image {
        .grid-image__link {
          color: $white;

          @media only screen and (max-width: $mobileOnly) {
            padding-top: 20px;
            padding-bottom: 40px;
          }

          .grid-image__body {
            .text--silver {
              color: $white;
            }
          }
        }
      }
    }
  }
}
