.list-article {
  padding: 50px 0 20px;

  .section-title{
    margin-bottom: 36px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item {
    width: calc((100% - 51px) / 3);
    margin-right: 25px;
    margin-bottom: 35px;
    margin-top: 20px;

    &:nth-child(3n) {
      @media only screen and (min-width: $tablet) {
        margin-right: 0;
      }
    }

    h4 {
      margin-top: 15px;
    }

    @media only screen and (max-width: $mobileOnly) {
      width: calc((100% - 26px) / 2);
      
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media only screen and (max-width: $mobileLandScape) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__image {
    text-align: center;
  }
}
