.quick-contact-ac {
  position: fixed;
  overflow-y: scroll;

  main {
     @media only screen and (max-width: $mobileOnly) { 
      z-index: 60;
      position: relative;
     }
  }
}

.quick-contact {
  position: fixed;
  right: -385px;
  top: 17%;
  z-index: 10;
  transition: .5s;

  @media only screen and (max-width: $mobileOnly) { 
    width: 100%;
    right: 0;
    top: 100%;
  } 

  &__form {
    padding: 25px;
    background: #fff;
    width: 385px;
    overflow-y: auto; 
    max-height: calc(100vh - 120px);

    h3 {
      line-height: 0.7;
      margin: 2px 0 25px 6px;
    }

    .form-type-textarea {
      line-height: 0;
    }

    .form-actions {
      margin: 17px 0 0 6px;
    }

    select, input[type="text"], input[type="number"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="hidden"], input[type="search"], .form-textarea, textarea { 
      padding-left: 13px;
      padding-right: 13px;
    }

    @media only screen and (max-width: $mobileOnly) and (max-height: 580px) { 
      overflow-y: auto; 
      max-height: calc(100vh - 138px);
      max-height: -webkit-calc(100vh - 138px);
      max-height: -moz-calc(100vh - 138px);
    }

    @media only screen and (max-width: $mobileOnly) { 
      width: 100%;
      padding: 15px;
      z-index: 51;

      .ajax-loader {
        display: none !important;
      }

      .form-actions {
        margin-left: 0;

        input {
          margin-bottom: 0;
        }
      }

      .form-item {
        margin-bottom: 10px;
      }
    }  

    @media only screen and (max-width: 380px) { 
      select, input[type="text"], input[type="number"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="hidden"], input[type="search"], .form-textarea, textarea { 
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
      }
    }
  }

  &__title {
    display: flex;
    position: absolute;
    background-color: $blue;
    bottom: 95%;
    width: 180px;
    margin: 0;
    right: 100%;
    line-height: 1;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    color: #fff;
    letter-spacing: 0.5px;
    @media only screen and (max-width: $mobileOnly) { 
      transform: rotate(0);
      bottom: 100%;
      right: 0;
      width: 100%;
      height: 44px;

      span.mobile-only {
        padding-right: 23px;
        font-size: 13px;
        letter-spacing: 0.7px;
        position: relative;

        &:after {
          font-family: "med", Helvetica, Arial, sans-serif;
          content: "\e902";
          font-size: 13px;
          color: #fff;
          position: absolute;
          top: 0;
          right: 0;
          transition: .3s;
          width: 24px;
          transform: rotate(-180deg);
        }
      }
    }
  }

  &.is-active {
    box-shadow: 0 0 15px -5px #555;
    right: 0;

    @media only screen and (max-width: $mobileOnly) { 
      bottom: 0;
      top: auto;

      .quick-contact__title {
        span.mobile-only {
          &:after {
            transform: rotate(0);
            right: -8px;
          }
        }
      }
    }
  }
}
