.quick-contact {
  position: fixed;
  z-index: 10;
  transition: .5s;

  @media only screen and (min-width: $tablet) { 
    right: -385px;
    top: 17%;
  } 

  @media only screen and (max-width: $mobileOnly) { 
    width: 100%;
    bottom: -443px;
  } 

  &__form {
    padding: 25px;
    background: #fff;
    width: 385px;
    overflow-y: auto; 
    max-height: calc(100vh - 120px);

    &--content {
      opacity: 0;
    }

    h3 {
      line-height: 0.7;
      margin: 2px 0 25px 6px;
    }

    .form-type-textarea {
      line-height: 0;
    }

    .form-actions {
      margin: 17px 0 0 6px;
    }

    select, input[type="text"], input[type="number"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="hidden"], input[type="search"], .form-textarea, textarea { 
      padding-left: 13px;
      padding-right: 13px;
    }

    @media only screen and (max-width: $mobileOnly) and (max-height: 580px) { 
      overflow-y: auto; 
      max-height: 442px;
    }

    @media only screen and (max-width: $mobileOnly) { 
      width: 100%;
      padding: 15px;
      max-height: 443px;
      height: 443px;

      .ajax-loader {
        display: none !important;
      }

      .form-actions {
        margin-left: 0;

        input {
          margin-bottom: 0;
        }
      }

      .form-item {
        margin-bottom: 10px;
      }
    }  

    @media only screen and (max-width: 380px) { 
      select, input[type="text"], input[type="number"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="hidden"], input[type="search"], .form-textarea, textarea { 
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
      }
    }
  }

  &__title {
    display: flex;
    position: fixed;
    background-color: $blue;
    width: 180px;
    margin: 0;
    line-height: 1;
    transform-origin: right bottom;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    color: #fff;
    letter-spacing: 0.5px;
    transition: .5s;
    z-index: 10;

    @media only screen and (min-width: $tablet) { 
      top: 17%;
      right: 0;
      transform: rotate(-90deg);
      height: 40px;
    } 

    @media only screen and (max-width: $mobileOnly) { 
      transform: rotate(0);
      bottom: 0;
      right: 0;
      width: 100%;
      height: 44px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,15,34,1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,15,34,1);
      box-shadow: 0px 0px 10px 0px rgba(0,15,34,1);

      span.mobile-only {
        padding-right: 23px;
        font-size: 13px;
        letter-spacing: 0.7px;
        position: relative;

        &:after {
          font-family: "med", Helvetica, Arial, sans-serif;
          content: "\e902";
          font-size: 13px;
          color: #fff;
          position: absolute;
          top: 0;
          right: 0;
          transition: .3s;
          width: 24px;
          transform: rotate(-180deg);
        }
      }
    }
  }

  &.is-active {
    box-shadow: 0 0 15px -5px #555;
    right: 0;

    .quick-contact__form--content {
      opacity: 1;
    }

    @media only screen and (max-width: $mobileOnly) { 
      bottom: 0;
    }
  }
}

.quick-contact-ac{
  @media only screen and (min-width: $tablet) { 
    .quick-contact__title {
      right: 385px;
    }
  }

  @media only screen and (max-width: $mobileOnly) {
    .quick-contact__title {
      bottom: 442px;

      span.mobile-only {
        &:after {
          transform: rotate(0);
          right: -8px;
        }
      }
    }
  }
} 
