.quick-contact {
  position: fixed;
  right: -385px;
  bottom: 0;
  z-index: 10;
  transition: .5s;

  @media only screen and (max-width: $mobileOnly) { 
    width: 100%;
    right: -100%;
  } 

  &.is-active {
    box-shadow: 0 0 15px -5px #555;
    right: 0;
  }

  &__form {
    padding: 25px;
    background: #fff;
    width: 385px;
    overflow-y: auto; 
    max-height: calc(100vh - 90px);

    h3 {
      line-height: 0.7;
      margin: 2px 0 25px 6px;
    }

    .form-type-textarea {
      line-height: 0;
    }

    .form-actions {
      margin: 17px 0 0 6px;
    }

    select, input[type="text"], input[type="number"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="hidden"], input[type="search"], .form-textarea, textarea { 
      padding-left: 15px;
      padding-right: 15px;
    }

    @media only screen and (max-width: $mobileOnly) and (max-height: 580px) { 
      overflow-y: auto; 
      max-height: calc(100vh - 88px);
    }

    @media only screen and (max-width: $mobileOnly) { 
      width: 100%;
      padding: 15px;

      .ajax-loader {
        display: none !important;
      }

      .form-actions {
        margin-left: 0;

        input {
          margin-bottom: 0;
        }
      }

      .form-item {
        margin-bottom: 10px;
      }
    }  

    @media only screen and (max-width: 380px) { 
      select, input[type="text"], input[type="number"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="hidden"], input[type="search"], .form-textarea, textarea { 
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
      }
    }
  }

  &__title {
    display: flex;
    position: absolute;
    background-color: $blue;
    bottom: 95%;
    width: 180px;
    margin: 0;
    right: 100%;
    line-height: 1;
    transform-origin: right bottom;
    transform: rotate(-90deg);
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    color: #fff;
    letter-spacing: 0.5px;
    @media only screen and (max-width: $mobileOnly) { 
      transform: rotate(0);
      bottom: 0;
      width: 100%;
    }
  }

  &__close {
    font-size: 22px;
    float: right;
    margin-top: -52px;
    cursor: pointer;
  }
}
