<div class="box-cta bg--gray">
  <div class="container">
    <h2 class="section-title text--center"> The Medihair difference </h2>
    <p class="text--center">We provide FREE private and confidential consultations with our hightly trained team. Book your no obligation consultation today.</p>
    <div class="box-cta__link text--center">
      <a class="btn" href="#"> Book now </a>
    </div>
  </div>
</div>