<div class="box-cta">
  <div class="container">
    <div class="section-title">
      <h2> The Medihair difference </h2>
      <p>We provide FREE private and confidential consultations with our hightly trained team. Book your no obligation consultation today.</p>
    </div>
    <div class="box-cta__link text--center">
      <a class="btn" href="#"> Book now </a>
    </div>
  </div>
</div>
