<div class="thankyou-page">
    <div class="thankyou-page__content">
        <div class="container">
            <h2 class="section-title text--left">
                Thank you
            </h2>
            <p>
                Thank you for getting in touch with Medihair, we’ll get back to you shortly.
            </p>
        </div>
    </div>
    <div class="thankyou-page__social bg--gray">
    	<div class="container">
    		<div class="thankyou-page__image">
    			<div class="thankyou-page__item">
    				<a href="#"><img src="/images/thankyou-1.jpg"></a>
    			</div>
    			<div class="thankyou-page__item">
    				<a href="#"><img src="/images/thankyou-2.jpg"></a>
    			</div>
    		</div>
    	</div>
    </div>
</div>