<div class="page-404">
	<div class="container">
		<h2 class="section-title text--center">
            404
        </h2>
        <div class="page-404__content text--center">
        	<p>Page not found or didn't exist!</p>
        	<div class="back-page">
	            <a href="#">
	                Back to home
	            </a>
	        </div>

        </div>
	</div>
</div>