%btn,
.btn {
  @include gotham;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: rem(1px) solid $btn-color;
  box-shadow: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
  min-width: rem(100px);
  outline: none;
  padding: rem(12px 62px);
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background-color: transparent;
  color: $btn-color;
  cursor: pointer;
  outline: 0;
  font-weight: 700;
  letter-spacing: 1.3px;


  &:active,
  &:hover {
    background-color: $btn-color-hover;
    border-color: $btn-color-hover;
    color: $white;
    text-decoration: none;
  }

  &--bg-white{
    color: $white !important;
    border-color: $white!important;

    &:active,
    &:hover{
      background-color: $white!important;
      color: $btn-color!important;
    }
  }
}
