// Texts
.text {
    &--center {
        text-align: center;
    }
    &--left {
        text-align: left;
    }
    &--right {
        text-align: right;
    } // Dark Colors
    &--dark {
        color: $text-color;
    } // Silver Colors
    &--silver {
        color: $silver;
    } // Light Colors
    &--white {
        color: $white;
        a {
            @extend %link--white;
        }
    }
}
// Backgrounds
.bg {
    // Dark backgrounds
    &--primary {
        background-color: $primary-color;
    } // Light backgrounds
    &--white {
        background-color: $white;
    }
    &--gray {
        background-color: $gray;
    }
}
// Other
.mobile-only {
    display: none;
    @media only screen and (max-width: $mobileOnly) {
        display: block;
    }
}
.desktop-only {
    @media only screen and (max-width: $mobileOnly) {
        display: none;
    }
}
.how-it-works {
    background-image: url('/images/bg-grid-image.png');
    background-position: bottom;
    background-repeat: repeat-x;
}
.read-more {
    text-decoration: underline;
}
.back-page {
    padding: 20px 0;
    a {
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 0.5px;
        padding-left: 15px;
        &:hover {
            text-decoration: underline;
        }
        &:before {
            transform: rotate(90deg);
            content: "\e902";
            cursor: pointer;
            font-family: 'med';
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            left: 0;
            line-height: 1;
            position: absolute;
            speak: none;
            text-transform: none;
            top: 3px;
            font-size: 11px;
        }
    }
}