// Texts
.text {
  &--transform-initial {
    text-transform: initial;
  }
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  } // Dark Colors
  &--dark {
    color: $text-color;
  } // Silver Colors
  &--silver {
    color: $silver;
  } // Light Colors
  &--white {
    color: $white;

    a {
        @extend %link--white;
    }
  }
}
// Images body
.alignright {
  float: right;
  padding-left: 15px;
}

.alignleft {
  float: left;
  padding-right: 15px;
}
// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  } 

  // Light backgrounds
  &--white {
    background-color: $white;
  }

  &--gray {
    background-color: $gray;
  }
}
// Other
.mobile-only {
  display: none;

  @media only screen and (max-width: $mobileOnly) {
    display: block !important;
  }
}

.desktop-only {
  @media only screen and (max-width: $mobileOnly) {
    display: none !important;
  }
}

.hidden-on-mobile-large {
  @media only screen and (min-width: 480px) {
    display: none !important;
  }
}

.hidden-on-mobile-small {
  @media only screen and (max-width: 479px) {
    display: none !important;
  }
}

.section-title{
  @extend .text--center;

  h2{
    margin-bottom: 18px;
  }
}

.how-it-works {
  background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 25%, #f1f1f4 100%);
background: -webkit-linear-gradient(top, #ffffff 25%,#f1f1f4 100%);
background: linear-gradient(to bottom, #ffffff 25%,#f1f1f4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f4',GradientType=0 );
  padding-bottom: 35px;
}

.read-more {
  text-decoration: underline;
}

.back-page {
  padding: 18px 0;
  
  a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.5px;
    padding-left: 0px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.book-link {
  margin-right: 0 !important;

  a {
    @extend .btn;
    @extend .btn--bg-white;
    padding: 12px 16px !important;
    font-weight: 600;
    letter-spacing: 1px !important;
    min-width: 202px;

    &:before {
      display: none;
    }
  }
}

.pagination {
  text-align: center;
  padding: 30px 0;
}

.h2 {
  @media only screen and (min-width: $tablet) {
    font-size: 32px;
  }  
}

.h1 {
  @media only screen and (min-width: $tablet) {
    font-size: 36px;
  }
}


