<div class="box-image-text box-image-text--top">
    <div class="box-image-text__wrap">
        <div class="box-image-text__image" style="background-image: url(/images/box-image-text-1.jpg); opacity: 1;">
            <div class="box-image-text__image-description">
                <img class="attachment-full size-full" src="/images/box-image-text-1.jpg"/>
                <div>
                    <h1>RESTORE YOUR HAIR, </h1>
                    <h1>TRANSFORM YOUR LIFE!</h1>
                </div>    
            </div>
        </div>
        <div class="box-image-text__content bg--gray">
            <div>
                <div class="box-image-text__text">
                    <p>
                        At Medihair we’ve seen first-hand the devastating effect hair loss can have on your appearance, self-confidence and intimate relationships. We have also seen the joy and freedom that a successful hair transplant can deliver.
                    </p>
                    <p>
                        Growing your own natural hair is an exciting and REAL prospect thanks to the latest FUE and FUT surgical hair transplant procedures.
                    </p>
                    <p>
                        Combining decades of knowledge and experience, our surgeons and hair stylists work with flawless precision to deliver superior long-lasting results, tailored to your needs and expectations. </p>
                    <p>Restore your hair and confidence, safely and discretely. Book an obligation free consultation at our Melbourne clinic today.
                    </p>
                </div>
                <div class="box-image-text__link">
                    <a class="btn" href="#">View Results</a>
                    <a class="btn" href="#">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-image-text box-image-text--bottom">
    <div class="box-image-text__wrap">
        <div class="box-image-text__content bg--gray">
            <div>
                <div class="box-image-text__text">
                    <h2>
                        FUE or FUT?
                    </h2>
                    <p>
                        FUE and FUT deliver the thickest and best-looking results, however they differ in how the hair follicles are extrcted, and have advantages and disadvantages.
                    </p>
                    <h4>
                        Follicular Unit Extraction (FUE)
                    </h4>
                    <ul>
                        <li>
                            Hair follicles are removed one at a time
                        </li>
                        <li>
                            No visible scarring so you can shave your head
                        </li>
                        <li>
                            Fast recovery process
                        </li>
                        <li>
                            Ideal for large procedures
                        </li>
                    </ul>
                    <h4>
                        Follicular unit transplantation (FUT)
                    </h4>
                    <ul>
                        <li>
                            More suitable if you have fine hair
                        </li>
                        <li>
                            Allows you to have a short haircut at the back
                        </li>
                        <li>
                            Fast recovery process
                        </li>
                        <li>
                            Ideal for large procedures
                        </li>
                    </ul>
                </div>
                <div class="box-image-text__link">
                    <a class="btn" href="#">FIND OUT MORE</a>
                </div>
            </div>
        </div>
        <div class="box-image-text__image" style="background-image: url(/images/box-image-text-2.jpg); opacity: 1;">
            
                <img class="attachment-full size-full" src="/images/box-image-text-2.jpg"/>
            
        </div>
    </div>
</div>