<div class="container">
  <p>Primary font: "Gotham Light", sans-serif</p>
  <p><em>Primary font italic: "Gotham Light", sans-serif</em></p>
  <p><strong>"Gotham Book", Helvetica, Arial, sans-serif</strong></p>
</div>
