<header class="header js-header bg--primary text--white">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="#" class="logo">
          <img src="/images/MediHair_Logo.svg" alt="MediHair" class="logo-img">
        </a>
        
        <div class="header__logo-right">
          <span class="phone">
            <a href="tel:1300355325"><i class="icons icon-phone"></i></a>
          </span>
          
          <span class="menu-bars">
            <span class="menu-bars__row"></span>
            <span class="menu-bars__row"></span>
            <span class="menu-bars__row"></span>
          </span>
        </div>  
      </div>

      <div class="header__menu ">
        <ul class="main-menu main-menu--has-child">
          <li class="menu-item menu-item-has-children menu-expend"><a href="#"><span>Procedures</span></a>
            <ul class="sub-menu">
              <li><a href="#"><span>FUE transplant</span></a></li>
              <li><a href="#"><span>FUT transplant</span></a></li>
              <li><a href="#"><span>Smp</span></a></li>
              <li><a href="#"><span>Prp</span></a></li>
              <li><a href="#"><span>Beard transplant</span></a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="#"><span>FUE or FUT</span></a></li>
          <li class="menu-item menu-item-has-children menu-expend">
            <a href="#"><span>About</span></a>
            <ul class="sub-menu">
              <li><a href="#"><span>Why medihair</span></a></li>
              <li><a href="#"><span>Our team</span></a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="#"><span>Results</span></a></li>
          <li class="menu-item"><a href="#"><span>Costs</span></a></li>
          <li class="menu-item"><a href="#"><span>News</span></a></li>
          <li class="menu-item"><a href="#"><span>Contact</span></a></li>
          <li class="book-link"><a href="#"><span>Free consultation</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
