<div class="box-text">
    <div class="container">
        <div class="box-text__content">
            <h2 class="section-title text--left">
                The Medihair difference
            </h2>
            <p>
                Unlike other hair transplant clinics, we will not split the hairs of a follicle into more grafts, as this can result in poor growth and density. At Medihair, we perform large procedures over one or two days, to achieve major transformations quickly, without compromising on results.
            </p>
            <p>
                Our highly experienced surgeons and qualified hair technicians are visually motivated and understand hairdressing and cosmetic surgery principles. We will implant new hairs at different angles and patterns based on your individual scalp analysis and aim to minimise the visibility of scars to ensure your hair looks completely natural.
            </p>
            <p>
                Using specialised instruments to perform each hair transplant, we ensure less handling of the grafts to give you the best possible yield and growth.
            </p>
            <p>
                Rest assured; we will turn you away if we are not confident that we can achieve a great outcome or believe you may not be a good candidate for our procedures. Your satisfaction, confidence and hair are our primary goals!
            </p>
        </div>
        <div class="box-text__link">
            <a class="btn" href="#">
                FIND OUT MORE
            </a>
        </div>
    </div>
</div>