<div class="list-article">
  <div class="container">
    <div class="section-title">
      <h2> NEWS </h2>
    </div>
    <div class="list-article__wrap">
      <div class="list-article__item">
        <div class="list-article__image">
          <img src="/images/article-1.jpg">
        </div>
        <div class="list-article__content">
          <h4><a href="#">Hair Transplant Recovery Timeline</a></h4>
          <p>Choosing surgical intervention to address your hair loss can put a lot of questions in your... <a href="#">Read more</a></p>
        </div>
      </div>
      <div class="list-article__item">
        <div class="list-article__image">
          <img src="/images/article-1.jpg">
        </div>
        <div class="list-article__content">
          <h4><a href="#">Post-Transplant: Hair Transplant Scars Explained</a></h4>
          <p>Choosing surgical intervention to address your hair loss can put a lot of questions in your... <a href="#">Read more</a></p>
        </div>
      </div>
      <div class="list-article__item">
        <div class="list-article__image">
          <img src="/images/article-1.jpg">
        </div>
        <div class="list-article__content">
          <h4><a href="#">Hair Transplant as a Treatment for Receding Hairline</a></h4>
          <p>Choosing surgical intervention to address your hair loss can put a lot of questions in your... <a href="#">Read more</a></p>
        </div>
      </div>
      <div class="list-article__item">
        <div class="list-article__image">
          <img src="/images/article-1.jpg">
        </div>
        <div class="list-article__content">
          <h4><a href="#">The Basics of Female Pattern Baldness</a></h4>
          <p>Choosing surgical intervention to address your hair loss can put a lot of questions in your... <a href="#">Read more</a></p>
        </div>
      </div>
      <div class="list-article__item">
        <div class="list-article__image">
          <img src="/images/article-1.jpg">
        </div>
        <div class="list-article__content">
          <h4><a href="#">Hair Transplant Recovery Timeline</a></h4>
          <p>Choosing surgical intervention to address your hair loss can put a lot of questions in your... <a href="#">Read more</a></p>
        </div>
      </div>
      <div class="list-article__item">
        <div class="list-article__image">
          <img src="/images/article-1.jpg">
        </div>
        <div class="list-article__content">
          <h4><a href="#">Hair Transplant Recovery Timeline</a></h4>
          <p>Choosing surgical intervention to address your hair loss can put a lot of questions in your... <a href="#">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
