<footer class="footer">
  <div class="footer__top bg--primary text--white">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__wrap--menu">
          <div class="menu-footer">
            <div class="menu-footer__item first">
              <ul>
                  <li class="menu-item menu-item-1">
                      <a href="#">FUE Transplant</a>
                  </li>
                  <li class="menu-item menu-item-2">
                      <a href="#">FUT Transplant</a>
                  </li>
                  <li class="menu-item menu-item-3">
                      <a href="#">SMP</a>
                  </li>
                  <li class="menu-item menu-item-4">
                      <a href="#">PRP</a>
                  </li>
                  <li class="menu-item menu-item-5">
                      <a href="#">Beard Transplant</a>
                  </li>
              </ul>
            </div>
            <div class="menu-footer__item last">  
              <ul>
                  <li class="menu-item menu-item-6">
                      <a href="#">FUE or FUT</a>
                  </li>
                  <li class="menu-item menu-item-7">
                      <a href="#"> About</a>
                  </li>
                  <li class="menu-item menu-item-8">
                      <a href="#">Results</a>
                  </li>
                  <li class="menu-item menu-item-9">
                      <a href="#">Costs</a>
                  </li>
                  <li class="menu-item menu-item-10">
                      <a href="#">News</a>
                  </li>
              </ul>
            </div>  
          </div>
        </div>
        <div class="footer__wrap--form">
          <div class="wpcf7" dir="ltr" id="wpcf7-f5-o1" lang="en-US" role="form">
            <h4 class="footer__title">sign up for e-news</h4>
            <form action="#" class="wpcf7-form" method="post" novalidate="novalidate">
              <div>
                <div class="form-item">
                  <span class="wpcf7-form-control-wrap your-name">
                      <input aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="your-name" placeholder="Name*" size="40" type="text" value=""/>
                  </span>
                </div>
                <div class="form-item">
                  <span class="wpcf7-form-control-wrap your-email">
                      <input aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" name="your-email" placeholder="Email*" size="40" type="email" value=""/>
                  </span>
                  <input class="webform-button--submit btn--white form-submit" id="edit-actions-submit" name="op" type="submit" value="Submit"/>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="footer__wrap--address">
          <h4 class="footer__title">
            <a href="tel:1300355325">1300 355 325</a>
          </h4>
          <ul>
            <li class="book-link">
              <a href="#">
                <span>Free consultation</span>
              </a>
            </li>
            <li class="email">
                <a href="mailto:info@medihair.com.au">info@medihair.com.au</a>
            </li>
            <li class="address">
                <span>Suite 703<em class="desktop-only">,</em></br class="mobile-only"> 1 Queens Road</br>
                    Melbourne VIC 300</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom bg--white text--dark">
    <div class="container">
      <p class="footer__bottom--copyright">© 2018 Medihair &nbsp;|&nbsp;  <a target="_blank" href="#">Privacy Policy</a> &nbsp;|&nbsp; Strategy, Design & Development by <a target="_blank" href="https://www.sentius.com.au/">Sentius</a></p>
    </div>
  </div>
</footer>
